<ion-card class="challenge-card">
  <ion-grid>
    <ion-row>
      <ion-col> </ion-col>
      <ion-col>
        <ion-avatar>
          <img [src]="imageUrl" alt="" />
        </ion-avatar>
      </ion-col>
      <ion-col> </ion-col>
    </ion-row>
  </ion-grid>
  <ion-card-header>
    <ion-card-subtitle>{{ subtitle }}</ion-card-subtitle>
    <ion-card-title>{{ title }}</ion-card-title>
  </ion-card-header>
  <ion-card-content>
    <ion-badge style="margin-right: 2px" color="primary"
      ><ion-icon name="trophy"></ion-icon> {{ category }}</ion-badge
    >
    <ion-badge style="margin-right: 2px" color="secondary">
      <ion-icon name="people"></ion-icon> {{ participants }}</ion-badge
    >
    <ion-badge color="tertiary"
      ><ion-icon name="pin"></ion-icon> {{ location }}</ion-badge
    >
    <p>
      {{ description }}
      <span style="color: black;"
        >({{ coins
        }}<ion-icon *ngIf="displayCoin" name="logo-bitcoin"></ion-icon>)</span
      >
      <br />
    </p>
    <ion-button
      style="margin-top: 15px"
      expand="block"
      color="secondary"
      routerLink="/tab3"
      >» Register for event «</ion-button
    >
  </ion-card-content>
</ion-card>
