<ion-card class="leader-board-card">
  <ion-item>
    <ion-note class="margin-10">
      <h3>{{ position }}</h3>
    </ion-note>
    <ion-avatar class="margin-10">
      <img [src]="imageUrl" alt="" />
    </ion-avatar>
    <ion-label style="overflow: visible;">
      <p>{{ name }}</p>
    </ion-label>

    <ion-note slot="end">
      <ion-chip color="success">
        <ion-icon name="speedometer" color="success"></ion-icon>
        <ion-label>{{ time }}</ion-label>
      </ion-chip>
    </ion-note>
  </ion-item>
</ion-card>
