<ion-header>
  <ion-toolbar color="primary">
    <ion-title>
      Challenges
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-title style="margin-top:15px">Upcoming Events</ion-title>
  <app-challenge-card
    *ngFor="let challenge of challenges"
    [title]="challenge.title"
    [subtitle]="challenge.subtitle"
    [description]="challenge.description"
    [imageUrl]="challenge.imageUrl"
    [coins]="challenge.coins"
    [location]="challenge.location"
    [category]="challenge.category"
    [participants]="challenge.participants"
    [displayCoin]="challenge.displayCoin"
  ></app-challenge-card>

</ion-content>
