<ion-header>
  <ion-toolbar color="primary">
    <ion-title>
      Your Shoes
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <app-shoe-card
    *ngFor="let shoe of shoes"
    [title]="shoe.title"
    [subtitle]="shoe.subtitle"
    [description]="shoe.description"
    [imageUrl]="shoe.imageUrl"
  ></app-shoe-card>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button color="tertiary" (click)="registerShoe()">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
