<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>
      Leaderboard
    </ion-title>

    <ion-button slot="end" color="light" style="margin-right: 20px">
      <p><b>1.200 </b></p>
      <ion-icon slot="end" name="logo-bitcoin"></ion-icon>
    </ion-button>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-item class="star-board-card">
      <ion-icon slot="start" name="star"></ion-icon>
      <ion-avatar slot="start">
        <img [src]="imageNeuerUrl" alt="" />
      </ion-avatar>
      <ion-label>
        <h3>Cacau</h3>
        <p>Your personal star.</p>
      </ion-label>
      <ion-note slot="end">
        <h6>97 km/h</h6>
      </ion-note>
    </ion-item>
  </ion-card>
  <ion-item-divider>
    <ion-label class="attendees">
      Score of attendees
    </ion-label>
  </ion-item-divider>
  <leader-board-card
    *ngFor="let leader of leaders; let i = index"
    [name]="leader.name"
    [description]="leader.description"
    [imageUrl]="leader.imageUrl"
    [position]="i + 1"
    [time]="leader.time"
  ></leader-board-card>
</ion-content>
