
<ion-header>
  <ion-toolbar color="primary">
      <ion-buttons slot="start">
          <ion-back-button></ion-back-button>
        </ion-buttons>
    <ion-title>
      Leaderboard
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card class="star-board-card">
    <ion-item>
      <ion-icon slot="start" name="star"></ion-icon>
      <ion-avatar slot="start">
        <img [src]="imageNeuerUrl" alt="">
      </ion-avatar>
      <ion-label>
        <h3>Manuel Neuer</h3>
        <p>Your personal star.</p>
      </ion-label>
      <ion-note slot="end">
        <h6>00:50:41</h6>
      </ion-note>
    </ion-item>
  </ion-card>
  <leader-board-card
    *ngFor="let leader of leaders; let i = index"
    [name]="leader.name"
    [description]="leader.description"
    [imageUrl]="leader.imageUrl"
    [position]="i+1"
    [time]="leader.time"></leader-board-card>
</ion-content>
