<ion-list>
  <ion-item>
    <ion-avatar item-start>
      <img [src]="imageUrl" />
    </ion-avatar>
    <ion-label style="margin-left: 5px">
      <h2>{{ name }}</h2>
      <h3>{{ sport }}</h3>

      <div *ngFor="let shoe of shoes; let i = index">
        <ion-badge style="margin-right: 2px" color="primary">
          <img
            [src]="shoe.img"
            style="height: 15px; width:15px; border-radius: 5px"
          />
          {{ shoe.name }}
        </ion-badge>
      </div>
    </ion-label>
    <button *ngIf="follow" ion-button clear item-end>Unfollow</button>
    <button *ngIf="!follow" ion-button clear item-end>Follow</button>
  </ion-item>
</ion-list>
